#about {
  p {
    font-size: 25px;
    color: white;
    line-height: 1.3em;
    letter-spacing: -0.02em;
    text-align: justify;
    max-width: 650px;
    .word {
      opacity: 0;
      &[data-enami-in] {
        animation-name: fadeUp;
      }
      display: inline-block;
    }
  }
}
