.btn-green {
  font-size: 15px;
  color: white;
  height: 55px;
  padding: 0 40px;
  border-radius: 5px;
  background-color: $c-blue;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-green--border {
  font-size: 15px;
  color: white;
  height: 55px;
  padding: 0 40px;
  border-radius: 5px;
  box-shadow: inset 0 0 0 2px $c-blue;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.minititle {
  color: $c-cyan;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.15em;
  display: flex;
  align-items: center;
  line-height: 1;
  margin: 0;
  padding: 50px 0;
  &:after {
    margin-left: 10px;
    flex-grow: 1;
    content: "";
    display: block;
    height: 1px;
    background-color: #10387b;
  }
}