@font-face {
  font-family: "Codec";
  font-display: swap;
  src: url("../../public/fonts/font.eot");
  src: url("../../public/fonts/font.woff2") format("woff2"), url("../../public/fonts/font.woff") format("woff"),
    url("../../public/fonts/font.eot?#iefix") format("embedded-opentype"), url("../../public/fonts/font.ttf") format("truetype");
}
