#howto {
  letter-spacing: 0.01em;
  code {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    user-select: auto;
    max-width: 100%;
    overflow: auto;
    color: #757b81;
    font-family: "Space Mono", monospace;
    letter-spacing: -0.03em;
    font-size: 13px;
    vertical-align: -0.8em;
    margin-left: 5px;
    line-height: 1.4em;
  }
  span {
    user-select: none;
    &.red {
      color: #dc534a;
    }
    &.green {
      color: #86cf73;
    }
    &.yellow {
      border-bottom: 1px solid #f3c56f;
      color: #f3c56f;
    }
    &.grey {
      color: #b5bfcf;
    }
    &.cyan {
      color: #5bcaf9;
    }
  }
  .number {
    color: $c-pink;
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
  }
  button {
    // background: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.2);
    background: transparent;
    // border: 0;
    height: 38px;
    // width: 38px;
    border-radius: 4px;
    margin-left: 5px;
    padding: 0 10px;
    vertical-align: bottom;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    color: #93bcff;
    font-size: 14px;
    transition: .2s background;
    img {
      width: 16px;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}
