#howto {
  letter-spacing: 0.01em;
  code {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    user-select: auto;
    max-width: 100%;
    overflow: auto;
    color: #757b81;
    font-family: "Space Mono", monospace;
    letter-spacing: -0.03em;
    font-size: 13px;
    vertical-align: -0.8em;
    margin-left: 13px;
    line-height: 1.4em;
  }
  pre {
    padding: 0 !important;
    margin: 0 !important;
    background: transparent !important;
    font-size: 0;
    > code {
      white-space: pre !important;
      margin: 0 !important;
      padding: 0 !important;
      background: transparent !important;
      overflow: hidden !important;
    }
  }

  .HowToCode > span {
    display: block;
  }
  .HowToCode{
    margin-bottom: 10px;
  }

  .number {
    color: $c-pink;
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
  }
  button {
    // background: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.2);
    background: transparent;
    // border: 0;
    height: 38px;
    // width: 38px;
    border-radius: 4px;
    margin-left: 5px;
    padding: 0 10px;
    vertical-align: bottom;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    color: #93bcff;
    font-size: 14px;
    transition: 0.2s background;
    img {
      width: 16px;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }
  @media (max-width: 700px) {
    code {
      width: 100%;
      margin: 5px 0 0 0;
    }
    button {
      width: 100%;
      margin-top: 5px;
      margin-left: 0;
    }
  }
}
