[data-enami] {
  visibility: hidden;
}
[data-enami-in] {
  visibility: visible;
}
[data-enami="fade-up"] {
  &[data-enami-in] {
    animation: 4s fadeUp forwards cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.char {
  visibility: hidden;
  &[data-enami-in] {
  visibility: visible;
  animation: .5s fup forwards cubic-bezier(0.19, 1, 0.22, 1);
  }
  @keyframes fup {
    from {
      transform: translate3d(0, 10px, 0) rotate(0.02deg);
      opacity: 0;
    }
    to {
      transform: translate3d(0, 0, 0) rotate(0deg);
      opacity: 1;
    }
  }
}


@keyframes fadeUp {
  from {
    transform: translate3d(0, 50px, 0) rotate(0.02deg);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 1;
  }
}

// @keyframes firefoxFix {
//   from {
//     transform: rotate(0.02deg);
//   }
//   to {
//     transform: rotate(0.02deg);
//     transform: rotate(0deg);
//   }
// }


[data-enami="hexa"] {
  &[data-enami-in] {
    // animation: 2s hexa forwards cubic-bezier(0.19, 1, 0.22, 1);
    // animation: 2s hexa forwards cubic-bezier(0.66, 0, 0.34, 1);
    animation: 1.5s hexa forwards cubic-bezier(0.680, -0.550, 0.265, 2.4);
    
 
  }
}

@keyframes hexa {
  from {
    transform: scale(.5) rotate(0.005deg);
    opacity: 0;
  }
  to {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}