@import "src/vars";
@import "src/fonts";
@import "src/elements";
@import "src/enamis";
*,
*:after,
*:before {
  box-sizing: border-box;
  backface-visibility: hidden;
  transform-box: view-box;
}
body {
  font-family: $f-codec;
  background-color: #002665;
  padding-bottom: 100vh;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: white;
  letter-spacing: -0.04em;
}
a {
  text-decoration: none;
}
.container {
  margin: auto;
  max-width: 1000px;
  padding: 0 50px;
}
#main-header {
  height: 100vh;
  min-height: 650px;
  max-height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  h1 {
    margin: 0;
    font-size: 70px;
    color: $c-cyan;
    span {
      display: inline-block;

      visibility: hidden;
      &[data-enami-in] {
        visibility: visible;
        // animation: .5s fup forwards cubic-bezier(0.19, 1, 0.22, 1);
        // animation: .5s hexa forwards  cubic-bezier(0.680, -0.550, 0.265, 2.4);
        animation: 0.5s hexa forwards cubic-bezier(0.68, -0.55, 0.265, 1);
      }
    }
  }
  h2 {
    font-size: 50px;
    margin: 0 0 15px 0;
    span {
      display: inline-block;

      visibility: hidden;
      &.letter-{
        width: 10px;
        // height: 15px !important;
        // background: red !important;
      }
      &[data-enami-in] {
        visibility: visible;
        // animation: .5s fup forwards cubic-bezier(0.19, 1, 0.22, 1);
        // animation: .5s hexa forwards  cubic-bezier(0.680, -0.550, 0.265, 2.4);
        animation: 0.7s fup forwards cubic-bezier(0.68, -0.55, 0.265, 2.4);
        @keyframes fup {
          from {
            transform: translate3d(0, 10px, 0) rotate(0.02deg);
            opacity: 0;
          }
          to {
            transform: translate3d(0, 0, 0) rotate(0deg);
            opacity: 1;
          }
        }
      }
    }
  }
  .badge {
    background-color: $c-pink;
    display: inline-block;
    color: white;
    font-size: 13px;
    line-height: 1;
    padding: 7px 10px;
    transform: rotate(-5deg);
  }
  .buttons {
    margin-top: 35px;
  }
}

#top {
  position: relative;
  z-index: 1;
  overflow: hidden;
  &:before {
    content: "";
    background: linear-gradient(transparent, #002665);
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
  figure {
    margin: 0;
    position: absolute;
    top: -5%;
    left: -5%;
    right: 0;
    bottom: 0;
    width: 110%;
    height: 110%;
    z-index: -2;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    span {
      background-image: url("../public/img/pattern.svg");
      width: clamp(50px, 5.5555vw, 80px);
      // box-shadow: 0 0 0 1px rgba(255, 0, 0, .25);
      display: inline-block;
      // width: 80px;
      height: clamp(50px, 5.5555vw, 80px);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80%;
      > span {
        &[data-enami-in] {
          transform: scale(1);
        }
        content: "";
        background-image: url("../public/img/pattern-fill.svg");
        display: inline-block;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80%;
        transform: scale(0);
        transition: transform 1s;
        transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.5);
      }
    }
  }
  // 002060
  // .hexagon-border {
  //   fill: none;
  //   stroke: #c39135;
  //   stroke-miterlimit: 10;
  //   stroke-width: 0.2;
  // }
  // .hexagon-fill {
  //   transform-box: fill-box;
  //   transform-origin: center;
  //   fill: url(#my-cool-gradient) #447799;
  //   opacity: 0;
  // }
}

.minititle {
  color: $c-cyan;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.15em;
}

#about {
  p {
    font-size: 25px;
    color: white;
    line-height: 1.3em;
    letter-spacing: -0.02em;
    text-align: justify;
    max-width: 650px;
    .word {
      &[data-enami-in] {
        animation: 1s fup forwards;
        transform-origin: top left;
        @keyframes fup {
          from {
            transform: translate3d(0, 10px, 0) rotate(2deg) rotate(0.02deg);
            opacity: 0;
          }
          to {
            transform: translate3d(0, 0, 0) rotate(0deg) rotate(0deg);
            opacity: 1;
          }
        }
      }
    }
    .line {
      overflow: hidden;
      display: inline-flex;
      visibility: hidden;
      width: 100%;
      // display: flex;
      // justify-content: space-between;
      .whitespace {
        display: inline-block;
        width: 0.3em;
        flex-shrink: 0;
      }
      // &:last-child{
      //   display: inline-block;
      // }
      &[data-enami-in] {
        visibility: visible;
        animation: 1s fup forwards;
        // animation-timing-function: cubic-bezier(0.84, 0, 0.16, 1);
        // animation-timing-function: ease-in;
        transform-origin: top left;
        @keyframes fup {
          from {
            transform: translate3d(0, 20px, 0) rotate(2deg) rotate(0.02deg);
            opacity: 0;
          }
          to {
            transform: translate3d(0, 0, 0) rotate(0deg) rotate(0deg);
            opacity: 1;
          }
        }
      }
    }
  }
}

.demo {
  margin: 60px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  aside {
    width: 30%;
    .demo-title {
      color: $c-cyan;
      font-size: 30px;
    }
    p {
      line-height: 1.6em;
      color: white;
      font-size: 15px;
    }
    .badge {
      padding: 5px 10px;
      background-color: #001e51;
      border-radius: 3px;
      font-family: $f-calling;
      color: sandybrown;
      margin: 0 2px;
      border: 1px solid #001946;
    }
  }
  .demo-content {
    margin-left: 30px;
    width: 70%;
    height: 300px;
    border-radius: 6px;
    background-color: rgb(0, 29, 82);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 4px 10px 0px rgba(0, 0, 0, 0.2),
      0px 1px 30px 0px rgba(0, 0, 0, 0.2), 0px 23px 60px 0px rgba(0, 0, 0, 0.2),
      inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15);

    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: auto;

    &.sm .demo-dot {
      font-size: 20px;
    }

    .demo-dot {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: $c-pink;
      border-radius: 20px;
      width: 100px;
      height: 100px;
      font-size: 40px;
      margin-bottom: 50px;
      box-shadow: inset 0 0 0 1px yellow;
    }
  }
}

.demo-dot--container {
  box-shadow: inset 0 0 0 1px red;
}

#animations {
  margin-top: 70px;
  margin-bottom: 20px;

  .badge {
    // padding: 5px 10px;
    font-size: 14px;

    padding: 2px 6px;
    background-color: #001e51;
    border-radius: 3px;
    font-family: $f-calling;
    color: sandybrown;
    margin: 0 0 0 15px;
    border: 1px solid #001946;
    display: inline;
  }
  button {
    margin-bottom: 10px;
    cursor: pointer;
    outline: none;
    width: 100%;
    border: 0;
    background: none;
    color: white;
    padding: 0;
    height: 50px;
    background-color: #002665;
    border-radius: 6px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 4px 10px 0px rgba(0, 0, 0, 0.2),
      0px 1px 30px 0px rgba(0, 0, 0, 0.2), 0px 23px 60px 0px rgba(0, 0, 0, 0.2),
      inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
  }
  .animation-demo {
    height: 300px;
    border-radius: 6px;
    background-color: rgb(0, 29, 82);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 4px 10px 0px rgba(0, 0, 0, 0.2),
      0px 1px 30px 0px rgba(0, 0, 0, 0.2), 0px 23px 60px 0px rgba(0, 0, 0, 0.2),
      inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
    display: flex;
  }
  .animations-zone {
    padding: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: #002665;
      font-size: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: monospace;
    }
  }
  .animations-list {
    padding: 20px;
    border-left: 1px solid #001946;
    width: 35%;
    overflow: auto;
  }
}
