@import "src/vars";
@import "src/fonts";
@import "src/elements";
@import "src/hero";
@import "src/about";
@import "src/howto";
@import "src/events";
@import "src/footer";
@import "src/animatron";
@import "src/demo";
@import "src/demo/offset";
@import "src/demo/stagger";
*,
*:after,
*:before {
  box-sizing: border-box;
  backface-visibility: hidden;
  transform-box: view-box;
}
body {
  font-family: $f-codec;
  background-color: #002665;
  padding-bottom: 50px;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: white;
  letter-spacing: -0.04em;
}
a {
  text-decoration: none;
}
.container {
  margin: auto;
  max-width: 1000px;
  padding: 0 50px;
}



// .demo-dot--container {
//   box-shadow: inset 0 0 0 1px red;
// }
